<div class="container">
    <div class="row mt-4">
        <table class="table caption-top ">
            <caption>Lista de Categorías</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Código Categoría</th>
                    <th scope="col">Nombre Categoría</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let cat of categorias">
                <tr>
                    <th scope="row">{{cat.id_categoria}} </th>
                    <td>{{cat.categoria}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="Editar(cat)">Editar</button> &nbsp;
                        <button type="button" class="btn btn-danger" (click)="Eliminar(cat)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>