<div class="container">
    <div class="row mt-4">
        <mat-toolbar>
            <span>Lista de Productos</span>
            <span class="example-spacer"></span>
            <button mat-button class="example-icon" routerLink="../addProducto">
                <mat-icon>add_circle</mat-icon>Agregar
            </button>
        </mat-toolbar>
        <table class="table caption-top ">
            <caption>Lista de Productos</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Categoria</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Género</th>
                    <th scope="col">Precio</th>
                    <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of productos">
                <tr>
                    <td>{{producto.categoria.categoria}}</td>
                    <td>{{producto.modelo}}</td>
                    <td>{{producto.genero}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="Editar(producto)">Editar</button> &nbsp;
                        <button type="button" class="btn btn-danger" (click)="Eliminar(producto)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>