<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <button mat-icon-button routerLink="../listarCategoria">
                <mat-icon>reply</mat-icon>
            </button> Editar Producto
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <input type="text" placeholder="Editar Nombre Categoría" class="form-control" name="category" #category="ngModel" [(ngModel)]="categoria.categoria">
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-danger" (click)="Actualizar()">Editar Categoría</button>
                </div>
            </div>

        </div>
    </div>
</div>