<div class="container">
    <div class="row mt-4">
        <mat-toolbar>
            <span>Lista de Detalles de Productos</span>
            <span class="example-spacer"></span>
            <button mat-button class="example-icon" routerLink="../addDetalleProducto">
                <mat-icon>add_circle</mat-icon>Agregar
            </button>
        </mat-toolbar>
        <table class="table caption-top ">
            <caption>Lista de Detalles de Productos</caption>
            <thead class="table-dark">
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Talla</th>
                    <th scope="col">Color</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let detalleProducto of detalleProductos">
                <tr>
                    <td>{{detalleProducto.producto.categoria.categoria}}&nbsp;{{detalleProducto.producto.modelo}}</td>
                    <td>{{detalleProducto.talla}}</td>
                    <td>{{detalleProducto.color}}</td>
                    <td>{{detalleProducto.cantidad}}</td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" (click)="Editar(detalleProducto)">Editar</button> &nbsp;
                    <button type="button" class="btn btn-danger" (click)="Eliminar(detalleProducto)">Eliminar</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>